* { 
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.navbar { 
    display: flex;
    justify-content: space-around;
    background-color: dodgerblue;
    color: white;
}

.nav-list { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-list > li { 
    list-style-type: none;
    padding: 0px 10px 0px 10px;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-list > li:hover { 
    background-color: mediumspringgreen;
}

.landing-image { 
    height: 400px;
    width: 100%;
    align-items: center;
    /* opacity: 0.7; */
    filter: brightness(0.2);
    object-fit: cover;
    /* object-position: 50% 0; */
}

.main { 
    margin: 0px 1%
    /* background-color: cornflowerblue; */
}

body { 
    background-color: whitesmoke;
}

.hero { 
    position: relative;
}

.opening { 
    color: powderblue;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* text-transform: uppercase; */
}

.table { 
    border: 0;
    column-gap: 0px;
    border-collapse: collapse;
    width: 100%;
    border-radius: 5px;
}

th { 
    background-color: cadetblue;
    padding: 10px 50px;
    text-transform: uppercase;
    color: whitesmoke;
}

td { 
    background-color: wheat;
    color: grey;
    padding: 10px;
    text-align: center;
}

tr:nth-of-type(even) > td { 
    background-color: whitesmoke;
}


form { 
    text-align: center;
    margin: 10px auto;
}

form > input { 
    outline: none;
    border: none;
    /* background-color: whitesmoke; */
    border: 2px solid cornflowerblue;
    padding: 8px 0px;
    width: 100%;
    min-width: 300px;
    max-width: 800px;
    margin-bottom: 20px;
    border-radius: 30px;
}


form > input::placeholder { 
    letter-spacing: 0.1rem;
    padding-left: 8px;
}

form > input[type="submit"] { 
    background-color: blueviolet;
    border: 0px;
    padding: 10px 0px;
    color: white;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 0.2rem;
}

.footer { 
    background-color: royalblue;
    color: white;
    padding: 20px 0px;
}

.footer-items { 
    display: flex;
    justify-content: space-around;
    padding: 10px;
    padding-bottom: 40px;
}

.info { 
    max-width: 500px;
}

.info > p:first-child { 
    font-size: 1.5rem;
    text-transform: uppercase;
}

.site-map { 
    min-width: 300px;
    list-style-type: none;
}

.site-map > li { 
    padding: 5px 0px;
}

.site-map > li:hover { 
    color: hotpink;
}

.footer > p { 
    text-align: center;
}
